<!DOCTYPE html>
<html>
  <head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sebastian Marshall</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="/css/main.css">
</head>

  <body>
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="/">Sebastian Marshall | index</a>
      </div>
    </header>

    <div class="page-content">
      <div class="wrapper">
        <div class="home">

  <h1 class="page-heading">List of Posts</h1>

  <%= @gendex %>

  </div>
  </div>
  </div>


  </body>

</html>
